<ion-view view-title="Penalty List" name="list-view">
  <ion-content class="padding">
    <div ng-repeat="data in response">
     <div class="card" style="margin: 20px 10px;">
        <div class="item item-text-wrap" style="padding:0;">
          <div class="row" style="padding:0;">
            <div class="col col-20" style="background-color: #337ab7;color:white;padding:10px;">
              <p><center>{{data.month}}</center></p>
              <p><center>{{data.day}}</center></p>
            </div>
             <div class="col col-50" style="padding:10px;color: black;">
              <p><center>{{data.vehicleNumber}}</center></p>
              <p><center>{{data.address}}</center></p>
            </div>
            <div class="col col-30" style="padding:10px;color: black;">
              <p><center>{{data.amount}}</center></p>
              <p><center><a style="text-decoration:none;" href="#/app/pay/{{data.id}}">Pay</a></center></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>