<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
  <ion-content class="padding">
      <h2><center>Login</center></h2>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Enter your vehicle no." ng-model="data.number" required>
          </label>
          <br>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password" required>
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(data);">Login</button>
  </ion-content>
</ion-view>