<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
          </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="250">
    <ion-header-bar class="header" style="height:25% !important;z-index: 0 !important;">
      <div id="display-info">
          <img id="display-image" src="img/user.png" alt="Description"/>
          <br>
          <span style="color:white;font-family: Raleway !important;font-weight:bold; font-size:20px;">Welcome User</span>
      </div>
    </ion-header-bar>
    <ion-content class="custom" style="top:25% !important;">
      <ion-list>
         <ion-item class="item-icon-left" on-tap="logout()" menu-close>
          <i class="icon ion-log-out"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
