<ion-view view-title="Payment" name="list-view">
  <ion-content class="padding">
    <label>Pay Using</label>
    <br>
    <br>
    <ion-list>
    	<div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <br>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(group)" ng-if="group.name === 'Credit Card'">
             	<div class="list list-inset">
			          <label class="item item-input">
			              <input type="text" placeholder="Enter card no." ng-model="data.card" maxlength="16" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="text" placeholder="Enter cvv no." maxlength="3" ng-model="data.cvv" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="text" placeholder="Enter expiry date" ng-model="data.expiry" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="password" placeholder="Password" ng-model="data.password" required>
			          </label>
		        </div>
      			<button class="button button-block button-calm" ng-click="pay(data);">Pay</button>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(group)" ng-if="group.name === 'Debit Card'">
             <div class="list list-inset">
			          <label class="item item-input">
			              <input type="text" placeholder="Enter card no." maxlength="16" ng-model="data.card" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="text" placeholder="Enter cvv no." maxlength="3" ng-model="data.cvv" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="text" placeholder="Enter expiry date" ng-model="data.expiry" required>
			          </label>
			          <br>
			          <label class="item item-input">
			              <input type="password" placeholder="Password" ng-model="data.password" required>
			          </label>
		        </div>
      			<button class="button button-block button-calm" ng-click="pay(data);">Pay</button>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>